.home-page {
  text-align: center;
}
.home-header {
  font-size: 3rem;
}

.pikachu-img {
  width: 400px;
  opacity: 0.7;
}

.home-page p {
  font-size: 2rem;
}

#to-pokemons {
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: #999;
  color: #fff;
  text-decoration: none;
  margin: 1rem 0;
}
