.pnf_wrapper {
  line-height: 2;
}

.pnf_wrapper p:nth-child(2) {
  font-size: 2rem;
  color: #999;
}

.redirect_links a {
  display: inline-flex;
  margin: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #999;
  text-decoration: none;
  color: #fff;
}
